@media screen and (max-width: 1800px) {
  .header-content_wrapper {
    width: 73% !important;
  }
}

@media screen and (max-width: 1660px) {
  .header-content_wrapper {
    width: 75% !important;
  }
}

@media screen and (max-width: 1600px) {
  .header-content_wrapper {
    width: 78% !important;
  }
}

@media screen and (max-width: 1550px) {
  .header-content_wrapper {
    width: 80% !important;
  }
}

@media screen and (max-width: 1440px) {
  .door-illusion {
    @include size(500px !important, 500px !important);

    .img {
      @include size(350px !important, 350px !important);
    }
  }
}

@media screen and (max-width: 1360px) {
  .header-content_wrapper {
    width: 81% !important;
  }

  .places-name>li>a {
    font-size: 20px !important;

    &:focus {
      font-size: 22px !important;
    }
  }
}

@media screen and (max-width:1300px) {
  .door-illusion {
    @include size(450px !important, 450px !important);

    .img {
      @include size(325px !important, 325px !important);
    }
  }
}

@media screen and (max-width: 1275px) {
  .header-content_wrapper {
    width: 82% !important;
  }
}

@media screen and (max-width:1240px) {
  .header-content_wrapper {
    width: 78% !important;
  }

  .door-illusion {
    @include size(400px !important, 400px !important);

    .img {
      @include size(300px !important, 300px !important);
    }
  }

  .places-name>li>a {
    font-size: 18px !important;

    &:focus {
      font-size: 20px !important;
    }
  }

  .text {
    font-size: 2.2rem !important;
  }

  .title {
    font-size: 1.15rem !important;
    max-width: 330px !important;
  }

  .btn {
    border: 2px solid $white !important;
    font-size: 14px !important;
  }

  .main {
    .main-cards {
      h2 {
        font-size: 1.7rem !important;
      }

      p {
        font-size: 1.2rem !important;
        line-height: 1.4 !important;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  body {
    .container {
      padding: 0 50px 0 50px !important;
    }

    .header-content_wrapper {
      width: 75% !important;
    }

    .main {
      .main-cards {
        h2 {
          font-size: 1.4rem !important;
        }

        p {
          font-size: 1.1rem !important;
          line-height: 1.3 !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    .container {
      padding: 0 25px 0 25px !important;
    }

    .navbar {
      position: relative;

      .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;

        .menu_line {
          @include size(30px, 2px);
          background: $white;
          margin: 5px;
        }
      }

      .nav-links {
        position: fixed;
        top: 0;
        @include size(100% !important, 100vh !important);
        flex-direction: column;
        background: $darkBlue;
        clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;

        li {
          font-size: 2rem !important;
          z-index: 1;
          opacity: 0;

          &:nth-child(1) {
            transition: all .5s ease .2s;
          }

          &:nth-child(2) {
            transition: all .5s ease .4s;
          }

          &:nth-child(3) {
            transition: all .5s ease .6s;
          }

          &:nth-child(4) {
            transition: all .5s ease .8s;
          }

          &:nth-child(5) {
            transition: all .5s ease 1s;
          }
        }

        .fade {
          opacity: 1;
        }
      }

      .open {
        clip-path: circle(160vh at 90% -20%) !important;
        pointer-events: all;
        z-index: 1;
      }
    }

    .header-section {
      height: 60vh !important;

      .door-illusion {
        @include size(350px !important, 350px !important);

        .img {
          @include size(250px !important, 250px !important);
        }
      }
    }

    .main {
      .main-cards {
        grid-column-gap: 15px !important;

        figure {
          padding: 15px !important;
        }

        h2 {
          font-size: 1.2rem !important;
        }

        p {
          font-size: 1rem !important;
          line-height: 1.2 !important;
        }
      }
    }
  }

  .main-tabs_nav {
    width: 85% !important;
    padding: 15px !important;
    font-size: 20px !important;
  }

  .main-tab_content>img {
    @include size(416px !important, 308px !important);
    margin: 7px !important;
  }
}

@media screen and (max-width:768px) {
  body {
    .container {
      padding: 0 12px 0 12px !important;
    }

    .header-content_wrapper {
      flex-direction: column !important;
      height: 50% !important;
      position: relative;

      .text_wrapper {
        align-items: center !important;
        margin-top: 30px !important;

        .text {
          text-align: center;
          line-height: 1.4 !important;
        }

        .title {
          display: none;
        }

        .btn {
          position: absolute !important;
          width: 34% !important;
          top: 52vh !important;
          margin-top: 0 !important;
        }
      }

      .show-places {
        margin-top: 15px !important;
      }
    }
  }

  .header-section {
    background: $gradient1_ipad !important;
  }

  aside {
    margin-right: 30px !important;
  }
}

@media screen and (max-width: 414px) {
  body {
    .container {
      padding: 0 5px 0 5px !important;
    }

    .navbar {
      .nav-links {
        li {
          font-size: 1.4rem !important;
        }
      }

      .open {
        clip-path: circle(124vh at 90% -5%) !important;
        pointer-events: all;
        z-index: 1;
      }
    }

    .header-section {
      background: $gradient1_mobile !important;
    }

    .header-content_wrapper {
      flex-direction: column !important;
      height: 78% !important;
      position: relative !important;

      .text_wrapper {
        align-items: center !important;
        margin-top: 14px !important;

        .text {
          text-align: center;
          font-size: 1.6rem !important;
          line-height: 1.4 !important;
        }

        .btn {
          position: absolute !important;
          top: 52vh !important;
          width: 40% !important;
          font-size: 8px !important;
          padding: 8px 8px !important;
        }
      }

      .show-places {
        margin-top: 7px !important;

        .door-illusion {
          @include size(240px !important, 240px !important);

          .img {
            @include size(170px !important, 170px !important);
          }
        }
      }
    }

    aside {
      margin-right: 5px !important;

      .line {
        right: 12px !important;
        padding-top: 24px !important;
      }

      .places-name>li {
        letter-spacing: 1.4px !important;
        line-height: 1.8 !important;
      }

      .places-name>li>a {
        font-size: 12px !important;

        &:focus {
          font-size: 14px !important;
        }
      }
    }

    .main {
      .main-tabs_nav {
        width: 95% !important;
        padding: 6px !important;
        font-size: 12px !important;
      }

      .main-cards {
        grid-column-gap: 5px !important;

        figure {
          padding: 6px !important;
        }

        h2 {
          font-size: 0.74rem !important;
          padding-bottom: 2px !important;
        }

        p {
          font-size: .7rem !important;
          line-height: 1 !important;
        }

        .main_card-flights {
          margin-left: 2px !important;
        }
      }

      .main-tab_content>img {
        @include size(280px !important, 220px !important);
        margin: 10px !important;

        &:nth-child(1) {
          box-shadow: -5px -5px 1px 1px $darkBlue;
        }

        &:nth-child(2) {
          box-shadow: 5px -5px 1px 1px $darkBlue;
        }

        &:nth-child(3) {
          box-shadow: -5px 5px 1px 1px $darkBlue;
        }

        &:nth-child(4) {
          box-shadow: 5px 5px 1px 1px $darkBlue;
        }
      }
    }

    .footer_socials {
      width: 100% !important;

      img {
        @include size(34px !important, 34px !important);
      }
    }
  }
}


@media screen and (max-width: 375px){
  body {
    .container {
      padding: 0 5px 0 5px !important;
    }

    .navbar {
      .open {
        clip-path: circle(115vh at 90% -5%) !important;
        pointer-events: all;
        z-index: 1;
      }
    }

    .header-section {
      height: 58vh !important;
      background: $gradient1_mobile !important;
    }

    .header-content_wrapper {
      height: 74% !important;

      .text_wrapper {
        margin-top: 30px !important;

        .text {
          font-size: 1.4rem !important;
          line-height: 1.2 !important;
        }

        .btn {
          top: 50vh !important;
          width: 34%!important;
          font-size: 7px!important;
          padding: 8px!important;
        }
      }

      .show-places {
        margin-top: 7px !important;
        .door-illusion {
          @include size(170px !important, 170px !important);
          .img {
            @include size(120px !important, 120px !important);
          }
        }
      }
    }

    aside {
      margin-right: 5px !important;
      .line {
        right: 6px !important;
        padding-top: 12px !important;
      }

      .places-name>li {
        letter-spacing: 1.2px !important;
        line-height: 1.6 !important;
      }

      .places-name>li>a {
        font-size: 10px !important;
        &:focus {
          font-size: 12px !important;
        }
      }
    }

    .main {
      .main-tabs_nav {
        width: 95% !important;
        padding: 10px !important;
        font-size: 10px !important;
      }

      .main-cards {
        grid-column-gap: 5px !important;
        figure {
          padding: 6px !important;
        }
        h2 {
          font-size: 0.68rem !important;
          padding-bottom: 2px !important;
        }
        p {
          font-size: .6rem !important;
          line-height: 1.1 !important;
        }
        .main_card-flights {
          margin-left: 2px !important;
        }
      }

      .main-tab_content>img {
        @include size(240px !important, 180px !important);
        margin: 10px !important;
      }
    }

    .footer_socials {

      img {
        @include size(34px !important, 34px !important);
      }
    }
  }
}