@mixin scrollbars($size) {

  // For Google Chrome
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $white;
  }

  ::-webkit-scrollbar-track {
    background: $darkBlue;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $darkBlue;;
    scrollbar-track-color: $white;
  }
}

@mixin btn($width: 60%, $height: 60%, $font: 16px, $top: 35px) {
  position: relative;
  top: $top;
  padding: 15px 30px;
  border: 4px solid $white;
  text-transform: uppercase;
  color: $white;
  background: none;
  width: 60%;
  height: 60px;
  font-size: $font;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background: $darkBlue;
    transform: skew(45deg);
    transition: .4s linear;
  }

  &::before {
    top: -4px;
    left: 10%;
  }

  &::after {
    bottom: -4px;
    right: 10%;
  }

  &:hover::before {
    left: 80%;
  }

  &:hover::after {
    right: 80%;
  }
}