@import url('https://fonts.googleapis.com/css?family=Barlow:800|El+Messiri|Josefin+Slab:100,400,400i|Julius+Sans+One|Sunflower:300|Roboto:300&display=swap');

$Barlow: 'Barlow', sans-serif;
$JosefinSlab: 'Josefin Slab', serif;
$ElMessiri: 'El Messiri', sans-serif;
$Julius: 'Julius Sans One', sans-serif;
$Sunflower: 'Sunflower', sans-serif;
$Roboto: 'Roboto', sans-serif;

$white: #fff;
$darkBlue: #2e2e4d;
$purple: #623aa2;
$lightGreen: #48cfad;
$lightGrey: #999;
$darkGrey: #666;

$gradient1: linear-gradient(105deg, $darkBlue 73%, $white 73.1%);