.main {
  display: flex;
  flex-direction: column;

  .main-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr;
    grid-column-gap: 30px;
    overflow-x: hidden;
    background: $gradient2;

    h2 {
      font-size: 2.2rem;
      font-weight: 700;
      font-family: $ElMessiri;
      color: $darkBlue;
      padding-bottom: 14px;
      text-transform: uppercase;
      text-align: center;
    }

    p {
      font-size: 1.4rem;
      color: $darkBlue;
      font-family: $Roboto;
      line-height: 1.7;
    }

    .main_card-trains {
      display: grid;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row: 1;
      padding: 35px;
      background: $white;
      opacity: 0;
      transform: translateX(-200px);
      transition: all 1s ease-out;
    }

    .main_card-flights {
      display: grid;
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row: 2;
      margin-left: 15px;
      padding: 35px;
      background: $darkBlue;
      opacity: 0;
      transform: translateX(200px);
      transition: all 1s ease-out;

      h2,
      p {
        color: $white;
      }
    }

    .fade-in {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .main-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-tabs_nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 64%;
      padding: 30px;

      cursor: pointer;
      font-family: $ElMessiri;
      text-transform: uppercase;
      font-size: 24px;
      color: $lightGrey;
      font-weight: bold;
      transition: ease 1s;

      .main-tabs_item.is-active {
        color: $purple;
      }
    }

    .main-tabs_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .tab {
        transition: 1s linear all;
        display: none;
        opacity: 0;
      }

      .is-active {
        opacity: 1;
        display: block;
      }
    }
  }

  .main-tab_content {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;

    img {
      @include size(600px, 400px);
      margin: 15px;

      &:nth-child(1) {
        box-shadow: -20px -15px 1px 1px $darkBlue;
      }
      &:nth-child(2) {
        box-shadow: 20px -15px 1px 1px $darkBlue;
      }
      &:nth-child(3) {
        box-shadow: -20px 15px 1px 1px $darkBlue;
      }
      &:nth-child(4) {
        box-shadow: 20px 15px 1px 1px $darkBlue;
      }
    }
  }
}
