.main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin-top: 5vh;

  .main-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr;
    grid-column-gap: 35px;
    color: $white;
    background: $darkBlue;

    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      font-family: $ElMessiri;
      color: $darkBlue;
      line-height: 1.1;
      text-transform: uppercase;
      text-align: center;
    }

    p {
      font-size: 1.35rem;
      color: $darkBlue;
      font-family: $JosefinSlab;
      line-height: 1.7;
    }

    .main_card-trains {
      position: relative;
      top: 35px;
      transition: .5s ease-in-out;
      display: grid;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row: 1;
      padding: 35px;
      background: $white;
    }

    .main_card-flights {
      position: relative;
      bottom: 35px;
      display: grid;
      transition: .5s ease-in-out;
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row: 2;
      padding: 35px;
      background: $white;
    }
  }

  .main-tabs {
    display: flex;
    flex-direction: column;
    background: $darkBlue;
    position: relative;
    top: 5vh;
    color: $white;

    .main-tabs_nav {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 35px;
      padding: 35px;
      width: 50%;
      margin: 0 auto;
      color: $white;
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: $ElMessiri;
      line-height: 1.1;
      text-transform: uppercase;

      .main-tabs_item{
        padding-bottom: 15px;
      }

      .main-tabs_item.is-active{
        border-bottom: 1px solid $white;
        width: 25%;
      }
    }

    .main-tabs_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .tab{
        padding: 35px;
        display: none;
      }
      
      .is-active{
        display: block;
      }
    }
  }
}
