body{
    overflow-y:hidden;
}

.box {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $darkBlue;
  z-index: 2;
  .preload {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: 
      linear-gradient(45deg, transparent, transparent 40%, yellow),
      linear-gradient($lightGrey, $darkGrey);
    animation: rotate 1.5s linear infinite;
    &:before,
    &:after {
      content: " ";
      position: absolute;
      top: 8px;
      left: 8px;
      right: 8px;
      bottom: 8px;
      background: linear-gradient($lightGrey, $darkGrey);
      border-radius: inherit;
    }
    &:before {
      background: linear-gradient(45deg, transparent, transparent 40%, yellow);
      filter: blur(32px);
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
.preload-finish{
  transition: .5s ease;
  display: none;
  visibility: hidden;
}

